@model GerenciadorFinanceiro.Models.categoria

@{
    ViewBag.Title = "Criar Despesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Categoria", FormMethod.Post))
{
    @Html.AntiForgeryToken()
     
    <div class="panel panel-secondary ">
        <div class="panel panel-heading bg-light">
            <h3 class="panel-title">Criar Categoria de Despesa</h3>
        </div>
        <div class="panel-body row" id="dadosusuario">
            <fieldset class="scheduler-border row ml-3 mt-4 col-12">
                @Html.Hidden("rd", "D")
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.nome, htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control" , @required = true, @style = "text-transform: uppercase"} })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group row">
                    @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.status)
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@

                <div class="form-group row">
                    @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.tipo, new SelectList(ViewBag.Lista, "Value", "Text", "Selecione"), new { @class = "form-control" , @style = "text-transform: uppercase" })
                        @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

            </fieldset>
            <div class="form-group row col-12 mb-4">
                <div class="offset-md-2 col-10 ">
                    <input type="submit" value="Salvar" class="btn btn-outline-success mr-3" />

                    <a href="~/Categoria/IndexDespesa" class="btn btn-outline-danger">Voltar</a>
                </div>
            </div>

        </div>
</div>
}