@model IEnumerable<GerenciadorFinanceiro.Models.categoria>

@{
    /**/

    ViewBag.Title = "Categoria";
    ViewBag.TituloPagina = "Categorias de Despesa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12" style="text-align:right;margin-bottom:15px;">
    <span class="btn btn-outline-success create" data-toggle="tooltip" title="Adicionar Categoria"> <span class="fas fa-plus"></span> Categoria</span>
</div>
<div class="col-12">
    <table class="table table-hover table-responsive-sm" id="tabela">
        <thead>
            <tr>
                <th data-toggle="tooltip" title="Nome">
                    @*@Html.DisplayNameFor(model => model.nome)*@
                    <i class="fas fa-signature" style="color:rebeccapurple"></i>
                </th>
                <th data-toggle="tooltip" title="Status">
                    @*@Html.DisplayNameFor(model => model.status)*@
                    <i class="fas fa-power-off" style="color:rebeccapurple"></i>
                </th>
                <th data-toggle="tooltip" title="Tipo">
                    @*@Html.DisplayNameFor(model => model.tipo)*@
                    <i class="fas fa-retweet" style="color:rebeccapurple"></i>
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.descricao)
                    </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="col-12" data-placement="top" title="Visualizar Categoria" onmouseover="this.style.backgroundColor='#C2E6FB'" onmouseout="this.style.backgroundColor=''" style="cursor:pointer;">
                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Categoria">
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>

                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Conta">
                        @*@Html.DisplayFor(modelItem => item.status)*@
                        @if (item.status == true)
                        {
                            <i class="fas fa-toggle-on" style="color:limegreen"></i>
                        }
                        else
                        {
                            <i class="fas fa-toggle-off" style="color:red"></i>
                        }
                    </td>

                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Categoria">
                        @if (item.tipo == "PC")
                        {
                            <span style="color:red"> Passivo Circulante</span>
                        }
                        @if (item.tipo == "PNC")
                        {
                            <span style="color:darkred"> Passivo Não-Circulante</span>
                        }
                        @if (item.tipo == "PL")
                        {
                            <span style="color:cornflowerblue"> Patrimônio Líquido</span>
                        }
                        @*@Html.DisplayFor(modelItem => item.tipo)*@
                    </td>
                    @*<td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Categoria">
                            @Html.DisplayFor(modelItem => item.descricao)
                        </td>*@
                    <td>
                        <!-- @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id }) -->
                        <span data-id="@item.id" class="delete far fa-trash-alt" data-toggle="tooltip" title="Deletar Categoria" style="cursor:alias"></span>
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>


<div class="modal" id="div-visualizacao">

</div>

<script type="text/javascript">



    $(".edit").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Categoria/Edit/" + id, function () {
            $("#div-visualizacao").modal("show");
        })
    });

    $(".delete").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Categoria/Delete/" + id, function () {
            $("#div-visualizacao").modal("show");
        })
    });

    $(".create").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Categoria/CreateDespesa/", function () {
            $("#div-visualizacao").modal();
        })
    });
</script>

