@model GerenciadorFinanceiro.Models.PesquisarPeriodo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-secondary">
    <div class="panel panel-heading bg-light">
        <h3 class="panel-title">Selecione os filtros da pesquisa</h3>
    </div>
    <div class="panel-body" id="dadosusuario">
        <fieldset class="scheduler-border row col-12">
            @using (Html.BeginForm("PesquisarPeriodo","Relatorios",FormMethod.Get))
            {

           
            <div class="row col-12 ml-2 mt-4 ">
                <div class="h5 "><b>Data de vencimento:</b></div>
                @* Início Vencimento *@
                <div class="col-12 row">
                    @Html.LabelFor(model => model.inicioVencimento, new { @class = "col-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.inicioVencimento, new { @type = "date", @class = "form-control" })
                    </div>
                    @Html.LabelFor(model => model.fimVencimento, new { @class = "col-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.fimVencimento, new { @type = "date", @class = "form-control" })
                    </div>
                </div>

                <div class="h5 mt-5"><b>Data de cadastro no sistema:</b></div>

                @* Início Cadastro *@
                <div class="col-12 row">
                    @Html.LabelFor(model => model.inicioCadastro, new { @class = "col-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.inicioCadastro, new { @type = "date", @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.fimCadastro, new { @class = "col-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.fimCadastro, new { @type = "date", @class = "form-control" })
                    </div>
                </div>

                <div class="h5 mt-5"><b>Data de emissão:</b></div>

                @* Início Emissão *@
                <div class="col-12 row ">
                    @Html.LabelFor(model => model.inicioEmissao, new { @class = "col-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.inicioEmissao, new { @type = "date", @class = "form-control" })
                    </div>

                    @Html.LabelFor(model => model.fimEmissao, new { @class = "col-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.fimEmissao, new { @type = "date", @class = "form-control" })
                    </div>
                </div>


                <div class="col-md-12 mt-4 offset-md-1 ">
                    <button class="btn btn-outline-primary" type="submit" style="margin:10px auto;">Buscar</button>
                </div>
            </div>
            }
            </fieldset>
        </div>
    </div>

