
@model GerenciadorFinanceiro.Models.usuario

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/login_estilo.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

@using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container conteudo">
        <div class="form-login">
            @if (TempData["erro"] != null)
            {
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["erro"].ToString()
                </div>
            }
            @if (TempData["sucesso"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @TempData["sucesso"].ToString()
                </div>
            }

            <div class="panel panel-default" style="border-radius: 10px; height:500px;">

                <div class="panel-heading quadrado-login">
                    <div class="panel-title text-center" style="padding:10px;">
                        <span style="font-size: 20pt; ">Página de Acesso</span>
                    </div>
                </div>

                <div style="">
                    <img src="~/Images/login.jpg" alt="Imagem Login" class="img-responsive img-circle" style="height:30%;margin:auto" />
                </div>

                <div style="padding-top:40px" class="panel-body">
                    <div style="display:none" id="result" class="alert alert-danger col-sm-12">

                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control input-lg", placeholder = "Usuário", autofocus = true } })
                        @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
                    </div>

                    <div style="margin-bottom: 10px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @type = "password", @class = "form-control input-lg", placeholder = "Senha" } })
                        @Html.ValidationMessageFor(model => model.senha, "", new { @class = "text-danger" })
                    </div>

                    <div style="margin-top:10px" class="form-group">

                        <div class="col-sm-12 controls text-center">
                            <input type="submit" value="Entrar" class="btn btn-primary" />
                        </div>
                    </div>

                    <div style="margin-top:5px;" class="col-sm-12 controls text-center">
                        <span>&#169 2018 | Desenvolvido por HS Tecnologia LTDA</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}