@model GerenciadorFinanceiro.Models.lancamento

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Lancamento", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-secondary ">
        <div class="panel panel-heading bg-light">
            <h3 class="panel-title">Novo Lançamento</h3>
        </div>
        <div class="panel-body" id="dadosusuario">
            <fieldset class="scheduler-border row col-12 ml-3 mt-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "exemplo: Conta de Água", @required = true, @style = "text-transform: uppercase" } })
                        @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.quantidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quantidade, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.valor, htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="width:80px !important;"> R$</div>
                                @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control", @id = "valor", @placeholder = "0,00", @required = true } })
                                @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.pago, htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.pago)
                            @Html.ValidationMessageFor(model => model.pago, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.numerotitulo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.numerotitulo, new { htmlAttributes = new { @class = "form-control", @placeholder = "exemplo: 2122992-3" } })
                        @Html.ValidationMessageFor(model => model.numerotitulo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.datavencimento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.datavencimento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.datavencimento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.dataemissao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.dataemissao, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.dataemissao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.datacadastro, htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.datacadastro, new { htmlAttributes = new { @class = "form-control", @placeholder = DateTime.Now.ToShortDateString(), @disabled = true } })
                        @Html.ValidationMessageFor(model => model.datacadastro, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group row">
                    @Html.LabelFor(model => model.categoria_id, "Categoria:", htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-4">
                        @Html.DropDownList("categoria_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.categoria_id, "", new { @class = "text-danger" })
                    </div>
                    <a href="~/Categoria/CreateDespesa" class="col-1 control-label" style="margin-left:-6%"> <span class="fas fa-plus text-success"></span></a>

                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.instituicao_id, "Para:", htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-4">
                        @Html.DropDownList("instituicao_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.instituicao_id, "", new { @class = "text-danger" })
                    </div>
                    <a href="~/Instituicao/CreateFornecedor" class="col-1 control-label" style="margin-left:-6%"> <span class="fas fa-plus text-success"></span></a>

                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.contasaldo_id, "Conta envolvida:", htmlAttributes: new { @class = "control-label col-md-2 requerido" })
                    <div class="col-md-10">
                        @Html.DropDownList("contasaldo_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.contasaldo_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.observacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @* @Html.TextAreaFor(model => model.observacao, new { htmlAttributes = new { @class = "form-control", @rows = "4", @cols = "50" } })*@
                        <textarea class="form-control" id="observacao" name="observacao" rows="3" cols="10" value=""></textarea>
                        @Html.ValidationMessageFor(model => model.observacao, "", new { @class = "text-danger" })
                    </div>
                </div>


            </fieldset>
            <div class="form-group row col-12 mb-4 mt-4">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-outline-success mr-3" />

                    <a href="~/Lancamento/Index" class="btn btn-outline-danger">Voltar</a>
                </div>
            </div>
        </div>
    </div>
}

