@model GerenciadorFinanceiro.Models.lancamento

@{
    ViewBag.Title = "Create";
    ViewBag.TituloPagina = "Novo Lançamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Lancamento", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-secondary ">
        <div class="panel-body" id="dadosusuario">
            <fieldset class="scheduler-border row col-12 ml-3 mt-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2 requerido col-sm-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "exemplo: Conta de água", @required = true, @style = "text-transform: uppercase" } })
                        @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.valortotal, htmlAttributes: new { @class = "control-label col-md-2 requerido col-sm-12" })
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="width:80px !important;"> R$</div>
                                @Html.EditorFor(model => model.valortotal, new { htmlAttributes = new { @class = "form-control", @id = "valor", @placeholder = "0,00", @required = true } })
                                @Html.ValidationMessageFor(model => model.valortotal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.pago, htmlAttributes: new { @class = "control-label col-md-2 col-sm-12 requerido " })
                    <div class="col-md-7">

                        <div class="checkbox">
                            <label class="quadrado">
                                @Html.EditorFor(model => model.pago, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: uppercase", @id = "pago" } })
                                <span class="checkmark"></span>
                            </label>
                            @Html.ValidationMessageFor(model => model.pago, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="form-group row">
                    @Html.LabelFor(model => model.datavencimento, htmlAttributes: new { @class = "control-label col-md-2 col-sm-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.datavencimento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.datavencimento, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.datacadastro, htmlAttributes: new { @class = "control-label col-md-2 requerido col-sm-12" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.datacadastro, new { htmlAttributes = new { @class = "form-control", @placeholder = GerenciadorFinanceiro.AuxCodes.Date.HoraBrasilia().ToShortDateString(), @disabled = true } })
                        @Html.ValidationMessageFor(model => model.datacadastro, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group row">
                    @Html.LabelFor(model => model.categoria_id, "Categoria:", htmlAttributes: new { @class = "control-label col-md-2 requerido col-sm-12" })
                    <div class="col-md-4">
                        @*@Html.DropDownList("categoria_id", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.categoria_id, (IEnumerable<SelectListItem>)ViewBag.categoria_id, "Selecione uma categoria", htmlAttributes: new { @class = "form-control", @required = true })


                        @Html.ValidationMessageFor(model => model.categoria_id, "", new { @class = "text-danger" })
                    </div>
                    <span class="createDespesa col-1 control-label" data-toggle="tooltip" title="Adicionar Despesa" style="margin-left:-6%"> <span class="fas fa-plus text-success"></span></span>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.instituicao_id, "Para:", htmlAttributes: new { @class = "control-label col-md-2 requerido col-sm-12" })
                    <div class="col-4">
                        @*@Html.DropDownList("instituicao_id", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.instituicao_id, (IEnumerable<SelectListItem>)ViewBag.instituicao_id, "Selecione um cliente", htmlAttributes: new { @class = "form-control", @required = true })
                        @Html.ValidationMessageFor(model => model.instituicao_id, "", new { @class = "text-danger" })
                    </div>
                    <span class="createFornecedor col-1 control-label" data-toggle="tooltip" title="Adicionar Fornecedor" style="margin-left:-6%"> <span class="fas fa-plus text-success"></span></span>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.contasaldo_id, "Conta envolvida:", htmlAttributes: new { @class = "control-label col-md-2 requerido col-sm-12" })
                    <div class="col-md-10">
                        @*@Html.DropDownList("contasaldo_id", null, htmlAttributes: new { @class = "form-control" })*@
                        @Html.DropDownListFor(model => model.contasaldo_id, (IEnumerable<SelectListItem>)ViewBag.contasaldo_id, "Selecione um centro de custo", htmlAttributes: new { @class = "form-control", @required = true })
                        @Html.ValidationMessageFor(model => model.contasaldo_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.observacao, htmlAttributes: new { @class = "control-label col-md-2 col-sm-12" })
                    <div class="col-md-7">
                        @* @Html.TextAreaFor(model => model.observacao, new { htmlAttributes = new { @class = "form-control", @rows = "4", @cols = "50" } }) *@
                        <textarea class="form-control" id="observacao" name="observacao" rows="5" cols="10" value=""></textarea>
                        @Html.ValidationMessageFor(model => model.observacao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.usuario_id, "usuario_id", htmlAttributes: new { @class = "control-label col-md-2 col-sm-12 requerido" })
                    <div class="col-md-7">
                        @Html.DropDownList("usuario_id", null, htmlAttributes: new { @class = "form-control", @required = true, @style = "text-transform: uppercase", @id = "usuario_id" })
                        @Html.ValidationMessageFor(model => model.usuario_id, "", new { @class = "text-danger" })
                    </div>
                </div>


            </fieldset>
            <div class="form-group row col-12 mb-4">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-outline-success mr-3" />

                    <a href="~/Lancamento/Index" class="btn btn-outline-danger">Voltar</a>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal" id="div-visualizacao">

</div>

<script type="text/javascript">
    $(".createDespesa").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Categoria/CreateDespesa/", function () {
            $("#div-visualizacao").modal();
        })
    });
    $(".createFornecedor").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Instituicao/CreateFornecedor/", function () {
            $("#div-visualizacao").modal();
        })
    });
</script>



