@model IEnumerable<GerenciadorFinanceiro.Models.lancamento>

@{
    ViewBag.Title = "Lançamentos";
    ViewBag.TituloPagina = "Lançamentos Cadastrados";
    Layout = "~/Views/Shared/_LayoutLiso.cshtml";
}

<div class="shadow-lg pt-4 pb-4 mb-3 rounded bg-white div-branca">

    <div class="col-12 row">
        <div class="col-8">
            <a href="~/Categoria/IndexReceita" class="btn btn-outline-info"> <span class="fas fa-money-check-alt"></span> Categorias de Receita</a>
            <a href="~/Categoria/IndexDespesa" class="btn btn-outline-info"> <span class="fas fa-credit-card"></span> Categorias de Despesa</a>
        </div>
        <div class="col-4 " style="text-align:right">
            <a href="~/Lancamento/CreateReceita" class="btn btn-outline-success"> <span class="fas fa-plus"></span> Receita</a>
            <a href="~/Lancamento/CreateDespesa" class="btn btn-outline-danger"><span class="fas fa-minus"></span> Despesa</a>
        </div>
    </div>

</div>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-sm-12 mb-4 ">
            <div class="shadow-lg pt-3 pb-2   rounded bg-white div-branca">
                @* Descrição *@
                <div class="col-12">
                    <b>@Html.DisplayNameFor(model => model.descricao)</b>
                    <a href="~/Lancamento/Details/@item.id">
                        @Html.DisplayFor(modelItem => item.descricao)
                    </a>
                </div>

                @* Pago *@
                <div class="col-12">
                    <b>@Html.DisplayNameFor(model => model.pago)</b>
                    @if (item.pago == true)
                    {
                        <span onclick="pagar(@item.id)" id="pago_@item.id" class="fas fa-check text-success" style="font-size:16pt;"></span>
                    }
                    else
                    {
                        <span onclick="pagar(@item.id)" id="pago_@item.id" class="fas fa-times text-danger" style="font-size:16pt;"></span>
                    }
                </div>

                @* Quantidade *@
                <div class="col-12">
                    <b>@Html.DisplayNameFor(model => model.quantidade)</b>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </div>

                @* Valor *@
                <div class="col-12">
                    <b>@Html.DisplayNameFor(model => model.valor):</b>
                    R$@Html.DisplayFor(modelItem => item.valor)
                </div>

                @* NF *@
                <div class="col-12">
                    <b>NF:</b>
                    @Html.DisplayFor(modelItem => item.numerotitulo)
                </div>

                @* Tipo *@
                <div class="col-12">
                    <b>@Html.DisplayNameFor(model => model.categoria.tipo)</b>

                    @if (item.categoria.tipo.Equals("PC"))
                    {
                        <span> Passivo Circulante</span>
                    }
                    @if (item.categoria.tipo.Equals("PNC"))
                    {
                        <span> Passivo Não-Circulante</span>
                    }
                    @if (item.categoria.tipo.Equals("AC"))
                    {
                        <span>Ativo Circulante</span>
                    }
                    @if (item.categoria.tipo.Equals("ANC"))
                    {
                        <span>Ativo Não-Circulante</span>
                    }
                    @if (item.categoria.tipo.Equals("PL"))
                    {
                        <span>Patrimônio Líquido</span>
                    }
                </div>

                @* Vencimento *@
                <div class="col-12">
                    <b>@Html.DisplayNameFor(model => model.datavencimento)</b>
                    @if (item.datavencimento != null)
                    {
                        <span>@item.datavencimento.Value.ToShortDateString()</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                </div>



            </div>

        </div>
    }
</div>
