@model IEnumerable<GerenciadorFinanceiro.Models.produto>

@{
    ViewBag.Title = "Produtos";
    ViewBag.TituloPagina = "Produtos Cadastrados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12" style="text-align:right;margin-bottom:15px;">
    @*<a href="~/Produto/Create" class="btn btn-outline-success"> <span class="fas fa-plus"></span> Conta</a>*@
    <span class="btn btn-outline-success createProduto"> <span class="fas fa-plus"></span> Produto</span>
</div>

<div class="col-md-12">
    <table class="table table-hover table-responsive-sm">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorunitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.custounitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="col-12" data-placement="top" title="Visualizar produto" onmouseover="this.style.backgroundColor='#C2E6FB'" onmouseout="this.style.backgroundColor=''" style="cursor:cell;">
                <td class="text-uppercase editProduto " data-id="@item.id" data-toggle="tooltip">
                    <span style="color:dodgerblue">
                        <b>
                            @Html.DisplayFor(modelItem => item.nome)
                        </b>
                    </span>
                </td>
                <td class="text-uppercase editProduto " data-id="@item.id" data-toggle="tooltip">
                    @Html.DisplayFor(modelItem => item.valorunitario)
                </td>
                <td class="text-uppercase editProduto " data-id="@item.id" data-toggle="tooltip">
                    @Html.DisplayFor(modelItem => item.custounitario)
                </td>
                <td class="text-uppercase editProduto " data-id="@item.id" data-toggle="tooltip">
                    @if (item.status == true)
                    {
                        <span class="fa fa-toggle-on" style="color:green;font-size:16pt;"></span>
                    }
                    else
                    {
                        <span class="fa fa-toggle-off" style="color:red;font-size:16pt;"></span>
                    }
                </td>
                <td>
                    @*<a href="~/Produto/Edit/@item.id"><span style="font-size:16pt;" class="far fa-edit"></span></a>
                        <a href="~/Produto/Details/@item.id"><span style="font-size:16pt;" class="far fa-eye"></span></a>
                        <a href="~/Produto/Delete/@item.id"><span style="font-size:16pt;" class="far fa-trash-alt"></span></a>*@
                    <span data-id="@item.id" class="deleteProduto far fa-trash-alt" data-toggle="tooltip" style="cursor:alias"></span>
                </td>
            </tr>
        }

    </table>
</div>



<div class="modal" id="editarProduto">

</div>

<script type="text/javascript">



    $(".editProduto").click(function () {
        var id = $(this).attr("data-id");
        $("#editarProduto").load("/Produto/Edit/" + id, function () {
            $("#editarProduto").modal("show");
        })
    });

    $(".deleteProduto").click(function () {
        var id = $(this).attr("data-id");
        $("#editarProduto").load("/Produto/Delete/" + id, function () {
            $("#editarProduto").modal("show");
        })
    });

    $(".createProduto").click(function () {
        var id = $(this).attr("data-id");
        $("#editarProduto").load("/Produto/Create/", function () {
            $("#editarProduto").modal();
        })
    });
</script>

