@model IEnumerable<GerenciadorFinanceiro.Models.produto>

@{
                /**/

                /**/ <!-- ViewBag.Title = "Index"; -->
                /**/

                /**/

                ViewBag.Title = "Produto";
                ViewBag.TituloPagina = "Produtos Cadastrados";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <h2>Index</h2> -->

<div class="col-12" style="text-align:right;margin-bottom:15px;">
    <span class="btn btn-outline-success create" data-toggle="tooltip" title="Adicionar Produto"> <span class="fas fa-plus"></span> Produto</span>
</div>
<div class="col-md-12">
    <table class="table table-hover table-responsive-sm" id="tabela" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valorunitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.custounitario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estoqueminimo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="col-12" data-placement="top" title="Visualizar Produto" onmouseover="this.style.backgroundColor='#C2E6FB'" onmouseout="this.style.backgroundColor=''" style="cursor:pointer;">
                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Produto">
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Produto">
                        @Html.DisplayFor(modelItem => item.valorunitario)
                    </td>
                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Produto">
                        @Html.DisplayFor(modelItem => item.custounitario)
                    </td>
                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Produto">
                        @Html.DisplayFor(modelItem => item.estoqueminimo)
                    </td>
                    <td class="text-uppercase edit " data-id="@item.id" data-toggle="tooltip" title="Visualizar Produto">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        <!-- @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id }) -->
                        <span data-id="@item.id" class="delete far fa-trash-alt" data-toggle="tooltip" title="Deletar Produto" style="cursor:alias"></span>
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>


<div class="modal" id="div-visualizacao">

</div>

<script type="text/javascript">



    $(".edit").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Produto/Edit/" + id, function () {
            $("#div-visualizacao").modal("show");
        })
    });

    $(".delete").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Produto/Delete/" + id, function () {
            $("#div-visualizacao").modal("show");
        })
    });

    $(".create").click(function () {
        var id = $(this).attr("data-id");
        $("#div-visualizacao").load("/Produto/Create/", function () {
            $("#div-visualizacao").modal();
        })
    });
</script>

