@model GerenciadorFinanceiro.Models.CadastrarLancamento
@{
    ViewData["Title"] = "Sistema Catadores - Lançamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#valor').on('keyup', function () {

            var v = $("#valor").val();
            v = v.replace(/\D/g, "");
            v = new String(Number(v));
            var len = v.length;
            if (1 == len)
                v = v.replace(/(\d)/, "0.0$1");
            else if (2 == len)
                v = v.replace(/(\d)/, "0.$1");
            else if (len > 2) {
                v = v.replace(/(\d{2})$/, '.$1');
            }
            $("#valor").val(v);
        });
    });
</script>

<h2>
    Lançamentos
</h2>

@using (Html.BeginForm())
{
   
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h3 class="panel-title">Novo Lançamento</h3>
        </div>
        <div class="panel-body" id="dadosusuario">
            <fieldset class="scheduler-border">
                <div class="row">
                    @* Descrição *@
                    @Html.LabelFor(model => model.lancamento.descricao, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.lancamento.descricao, new { @class = "form-control", @placeholder = "Descrição do lançamento", @style = "margin-bottom:15px;text-transform:uppercase;" })
                        @Html.ValidationMessageFor(model => model.lancamento.descricao, null, new { @style = "color: #f00" })
                    </div>

                    @* Tipo *@

                    @Html.LabelFor(model => model.lancamento.tipo, new { @class = "col-md-1 control-label", @style = "margin-bottom:15px;height:30px;" })

                    <div class="col-md-3">
                        <label class="custom-control custom-radio" style="font-weight: normal;">
                            @Html.RadioButtonFor(model => model.lancamento.tipo, "Fixo", new { @id = "radio1", @name = "Tipo", @value = "F" })
                            <span class="custom-control-indicator"></span>
                            Fixo
                            <span class="custom-control-description" style="display: none;"></span>
                        </label>
                        <label class="custom-control custom-radio" style="margin-left: 30px; font-weight: normal;">
                            @Html.RadioButtonFor(model => model.lancamento.tipo, "Variável", new { @id = "radio2", @name = "Tipo", @value = "V" })
                            <span class="custom-control-indicator"></span>
                            Variável
                            <span class="custom-control-description" style="display: none;"></span>
                        </label>
                        @Html.ValidationMessageFor(model => model.lancamento.tipo, null, new { @style = "color: #f00" })
                    </div>

                    @* Data *@

                    @Html.LabelFor(model => model.lancamento.data, new { @class = "col-md-1 control-label", @style = "margin-bottom: 15px;" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.lancamento.data, new { @type = "date", @class = "form-control", @style = "text-transform:uppercase;" })
                        @Html.ValidationMessageFor(model => model.lancamento.data, null, new { @style = "color: #f00" })
                    </div>
                </div>
                <div class="row">


                    @* Quantidade *@

                    @Html.LabelFor(model => model.lancamento.quantidade, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.lancamento.quantidade, new { @class = "form-control", @type = "number", @placeholder = "Quantidade de itens", @style = "text-transform:uppercase;" })
                        @Html.ValidationMessageFor(model => model.lancamento.quantidade, null, new { @style = "color: #f00" })
                    </div>

                    @* Valor *@

                    @Html.LabelFor(model => model.lancamento.valor, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-addon">R$</div>
                            @Html.TextBoxFor(model => model.lancamento.valor, new { @id = "valor", @type = "text", @class = "form-control", @style = "text-transform:uppercase;" })
                            @Html.ValidationMessageFor(model => model.lancamento.valor, null, new { @style = "color: #f00" })
                        </div>
                    </div>


                    @Html.LabelFor(model => model.cooperativasNomes, new { @class = "col-md-1 control-label" })
                    <div class="col-md-3">
                        @Html.DropDownListFor(m => m.cooperativaSelecionada, Model.cooperativasNomes.Select(x => new SelectListItem() { Text = x, Value = x, Selected = x == Model.cooperativaSelecionada }), new { @class = "form-control", @style = "text-transform:uppercase;" })
                        @Html.HiddenFor(model => model.cooperativasNomes)
                    </div>


                </div>
                <div class="row">
                    @* Pago *@
                    @Html.LabelFor(model => model.lancamento.pago, new { @class = "col-md-1 control-label", @style = "margin-bottom:15px;height:30px;" })

                    <div class="col-md-3">
                        <label class="custom-control custom-radio" style="font-weight: normal;">
                            @Html.RadioButtonFor(model => model.lancamento.pago, "false", new { @id = "radio1", @name = "Tipo", @value = "false" })
                            <span class="custom-control-indicator"></span>
                            Não
                            <span class="custom-control-description" style="display: none;"></span>
                        </label>
                        <label class="custom-control custom-radio" style="margin-left: 30px; font-weight: normal;">
                            @Html.RadioButtonFor(model => model.lancamento.pago, "true", new { @id = "radio2", @name = "Tipo", @value = "true" })
                            <span class="custom-control-indicator"></span>
                            Sim
                            <span class="custom-control-description" style="display: none;"></span>
                        </label>
                        @Html.ValidationMessageFor(model => model.lancamento.pago, null, new { @style = "color: #f00" })
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-3" style="margin-top:20px;">
                        @*@Html.ActionLink(" Voltar ", "Index", "Home", new { @class = "btn btn-danger", style = "margin-right:10px" })*@
                        <input type="submit" value="Enviar" class="btn btn-primary" style="">
                    </div>
                </div>
            </fieldset>


        </div>
    </div>
}


@* TABELA *@
<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3 class="panel-title">Lançamentos Cadastrados</h3>
    </div>
    <div class="panel-body" id="dadosusuario">
        <fieldset class="scheduler-border">
            <div class="form-group">
                <table class="table table-responsive" id="tabela">
                    <thead>
                        <tr>
                            <td>Descrição</td>
                            <td>Tipo</td>
                            <td>Quantidade</td>
                            <td>Valor</td>
                            <td>Data</td>
                            <td>Cooperativa</td>
                            <td>Pago</td>
                            <td>Configurações</td>
                        </tr>
                    </thead>
                    <tbody id="">
                        @if (Model.lancamentos != null)
                        {
                            foreach (var lancamento in Model.lancamentos)
                            {
                        <tr>
                            <td>
                                <span style="text-transform: capitalize;"> @lancamento.descricao</span>
                            </td>
                            <td>
                                <span style="text-transform: capitalize;"> @lancamento.tipo</span>
                            </td>
                            <td>
                                <span style="text-transform: capitalize;">@lancamento.quantidade</span>
                            </td>
                            <td>
                                <span style="text-transform: capitalize;">@lancamento.valor</span>
                            </td>
                            <td>
                                <span style="text-transform: capitalize;"> @lancamento.data.Value.ToShortDateString()</span>
                            </td>
                            <td>
                                <span style="text-transform: capitalize;"> @lancamento.cooperativa.nome</span>
                            </td>
                            @if (lancamento.pago == true)
                            {
                                <td style="color:blue;">
                                    <span style="text-transform: capitalize;"> Sim</span>
                                </td>
                            }
                            else
                            {
                                <td style="color:red;">
                                    <span style="text-transform: capitalize;"> Não</span>
                                </td>
                            }

                            <td>
                                @if (lancamento.pago == true)
                                {
                                    <a href="~/Lancamento/Pagar?idLancamento=@lancamento.id&retorno=Index&pasta=Lancamento" class="btn btn-warning"><span style="width:70px;text-align:center;" class="glyphicon glyphicon-usd">Não-Pagar</span></a>
                                }
                                else
                                {
                                    <a href="~/Lancamento/Pagar?idLancamento=@lancamento.id&retorno=Index&pasta=Lancamento" class="btn btn-success"><span style="width:70px;text-align:center;" class="glyphicon glyphicon-usd">Pagar</span></a>
                                }

                                <a href="~/Lancamento/Deletar?idLancamento=@lancamento.id" class="btn btn-danger" style="float:right;"><span class="glyphicon glyphicon-trash">Excluir</span></a>
                            </td>
                        </tr>
                            }
                        }
                    </tbody>

                </table>
            </div>
        </fieldset>
    </div>
</div>
