@model IEnumerable<GerenciadorFinanceiro.Models.contasaldo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.banco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saldo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.agencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.conta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.banco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.agencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.conta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            <a href="~/ContaSaldo/Edit/@item.id"><span style="font-size:16pt;" class="far fa-edit"></span></a>
            <a href="~/ContaSaldo/Details/@item.id"><span style="font-size:16pt;" class="far fa-eye"></span></a>
            <a href="~/ContaSaldo/Delete/@item.id"><span style="font-size:16pt;" class="far fa-trash-alt"></span></a>
        </td>
    </tr>
}

</table>
