@model IEnumerable<GerenciadorFinanceiro.Models.lancamentoestoque>

@{
    ViewBag.Title = "Estocagem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12" style="text-align:right;margin-bottom:15px;">

    <a href="~/LancamentoEstoque/Entrada" class="btn btn-outline-success"> <span class="fas fa-plus"></span> Entrada</a>
    <a href="~/LancamentoEstoque/Saida" class="btn btn-outline-danger"><span class="fas fa-minus"></span> Saída</a>
</div>

<div class="col-12" style="background-color:white;margin: 10px auto;">
    <table class="table table-hover table-bordered text-center" style="width:100%" id="tabela">
        <thead>
            <tr>
                <th>
                    Depósito
                </th>
                <th>
                    Produto
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Data
                </th>
                <th>
                    Tipo
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-uppercase">
                    @item.estoque.nome
                </td>
                <td class="text-uppercase">
                    @item.produto.nome
                </td>
                <td>
                    @item.quantidade
                </td>
                <td>
                    @item.valor
                </td>
                @if (item.dataentrada != null)
                {
                    <td>
                        @item.dataentrada.Value.ToShortDateString()
                    </td>
                    <td>
                        Entrada
                    </td>
                }
                else
                {
                    <td>
                        @item.datasaida.Value.ToShortDateString()
                    </td>
                    <td>
                        Saída
                    </td>
                }
                <td>
                    <a href="~/LancamentoEstoque/Edit/@item.id"><span style="font-size:16pt;" class="far fa-edit"></span></a>
                    <a href="~/LancamentoEstoque/Details/@item.id"><span style="font-size:16pt;" class="far fa-eye"></span></a>
                    <a href="~/LancamentoEstoque/Delete/@item.id"><span style="font-size:16pt;" class="far fa-trash-alt"></span></a>
                </td>
            </tr>
            }

        </tbody>
        

    </table>
</div>