
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador Financeiro - @ViewBag.Title</title>



    @* Fonts *@
    <link href="https://fonts.googleapis.com/css?family=Anton|Raleway|Encode+Sans+Condensed|Fjalla+One|Lora|Ubuntu|Montserrat:500|Cuprum|Londrina+Shadow" rel="stylesheet">

    @* Icons *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    @* Tables *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />


    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    @* Plugin de tabelas *@



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <script type="text/javascript">
        function pagar(id) {
            $.ajax({
                url: "Pagar/" + id,
                type: "POST",
                success: function (data) {
                    if (data.localeCompare("false") == 0) {
                        $("#pago_" + id).addClass("fa-times text-danger").removeClass("fa-check text-success");
                    }
                    if (data.localeCompare("true") == 0) {
                        $("#pago_" + id).addClass("fa-check text-success").removeClass("fa-times text-danger");
                    }
                    if (data.localeCompare("true") != 0 && data.localeCompare("false") != 0) {
                        alert(data);
                    }

                },
                error: function (data) {
                    alert(data);
                }
            });
        }
    </script>

</head>
<body>
    <div class="superior-site">
        <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">

            <div class="col-1 ">
                @*<span id="botao-toggle-superior" class=" ml-2 fas fa-bars" onclick="mudar_menu()" style="font-size:16pt;color:#ddd"></span>*@
                <div id="botao-toggle-superior" class=" ml-2 titanic titanic-menu-close" onclick="mudar_menu()" style="height:22pt; fill: #fff;stroke: #fff;"></div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand texto-financeiro" href="~/Home">Gerenciador Financeiro</a>

                <form class="form-inline ml-5 mr-auto mt-2 mt-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Palavra chave" aria-label="Palavra chave">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
                <ul class="navbar-nav my-2 my-lg-0 mr-2 ">
                    <li class="nav-item dropleft">
                        <div class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"><span class="far fa-question-circle"></span></div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Como fazer um lançamento</a>
                            <a class="dropdown-item" href="#">Como cadastrar uma instituição para recebimento</a>
                            <a class="dropdown-item" href="#">Como cadastrar uma instituição para pagamento</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item dropleft">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="far fa-user"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">---</a>
                            <a class="dropdown-item" href="#">---</a>
                            <a class="dropdown-item" href="#">---</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Login/CadastrarUsuario">Cadastrar usuário</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body-content row">

        <div class="mt-4 col-2 bg-white shadow-lg pb-3 rounded menu-esquerda-escondido" style="min-height:100%;">
            <ul class="nav  nav-pills nav-stacked menu-esquerda">
                @*<li> <div class="row class-12" ><a href="~/Caixa/AbrirCaixa" target="resource window" style="margin: auto;width:150px; " class="texto-menu-esq col-6">Caixa</a><span style="height:35px;display:block" class="col-3 titanic titanic-expand-arrow"></span></div></li>*@
                @*<li> <div class="row class-12"><div style="margin: auto;width:150px; " class="texto-menu-esq col-6 botao-caixa">Caixa</div><span style="height:35px;display:block" class="col-3 titanic titanic-expand-arrow"></span></div></li>*@
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Home/Index' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/news.png")" alt="Alternate Text" />  <b class="texto-escondido">Início</b></a></li>
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Caixa/AbrirCaixa' target="resource window" class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/dres2.png")" alt="Alternate Text" />  <b class="texto-escondido">Caixa</b></a></li>


                @*<li> <div class="row class-12" onclick="mudar_financeiro()"><div style="margin: auto;width:150px; " class="texto-menu-esq col-6">Financeiro</div><span style="height:35px;display:block" class="col-3 titanic titanic-expand-arrow"></span></div></li>
                    <li>
                        <ul class="nav financeiro-toggle" style="display:none;">*@
                @*<li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Categoria/IndexReceita' class="texto-menu-esq "><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/teste.png")" alt="Alternate Text" /><b class="texto-escondido">Recebimento</b></a></li>*@
                @*<li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Categoria/IndexDespesa' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/passivos2.png")" alt="Alternate Text" /><b class="texto-escondido">Despesa</b></a></li>*@
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Instituicao/IndexCliente' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/clientes2.png")" alt="Alternate Text" />  <b class="texto-escondido">Clientes</b></a></li>
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Instituicao/IndexFornecedor' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/fornecedores2.png")" alt="Alternate Text" />  <b class="texto-escondido">Fornecedores</b></a></li>
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Lancamento/' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/calculator.png")" alt="Alternate Text" />  <b class="texto-escondido">Financeiro</b></a></li>
                @*</ul>
                    </li>*@


                @*<li> <div class="row class-12" onclick="mudar_estoque()"><span style="margin: auto;width:150px;" class="texto-menu-esq col-6">Estoque</span><span style="height:35px;display:block" class="col-3 titanic titanic-expand-arrow"></span></div></li>
                    <li>
                        <ul class="nav estoque-toggle" style="display:none;">*@

                @*<li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Produto/' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/teste.png")" alt="Alternate Text" />  <b class="texto-escondido">Produto</b></a></li>*@
                @*<li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Estoque/' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/deposito-flaticon.png")" alt="Alternate Text" />  <b class="texto-escondido">Depósito</b></a></li>*@
                @*<li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/LancamentoEstoque/' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/lancamento2.png")" alt="Alternate Text" />  <b class="texto-escondido">Lançamento</b></a></li>*@
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/LancamentoEstoque/Listagem' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/listagem.png")" alt="Alternate Text" />  <b class="texto-escondido">Estoque</b></a></li>
                @*</ul>
                    </li>*@

                @*<li> <div class="row class-12" onclick="mudar_centrodecusto()"><span style="margin:auto;width:150px;" class="texto-menu-esq col-6">Custos</span><span style="height:35px;display:block" class="col-3 titanic titanic-expand-arrow"></span></div></li>

                    <li>
                        <ul class="nav centrodecusto-toggle" style="display:none;">*@
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/ContaSaldo/' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/contasaldos2.png")" alt="Alternate Text" />  <b class="texto-escondido">Centro de Custo</b></a></li>
                @*</ul>
                    </li>*@

                @*<li> <div class="row class-12" onclick="mudar_resultados()"><div style="margin: auto;width:150px; " class="texto-menu-esq col-6">Resultados</div><span style="height:35px;display:block" class="col-3 titanic titanic-expand-arrow"></span></div></li>

                    <li>
                        <ul class="nav resultados-toggle" style="display:none;">*@
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/Relatorios/' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/relatorio.png")" alt="Alternate Text" />  <b class="texto-escondido">Relatórios</b></a></li>
                <li class="col-12 item-menu-esq mb-2" role="presentation"><a href='~/DRE' class="texto-menu-esq"><img class="imagens-menu " style="height:20px;margin-right:10px" src="@Url.Content("~/Images/dres2.png")" alt="Alternate Text" />  <b class="texto-escondido">DRE</b></a></li>

                @*</ul>
                    </li>*@

            </ul>
        </div>
        <div class="col conteudo-site" style="min-height:700px !important;">
            <div class="container  mt-5 rounded folha">

                <div id="mensagem-central" class=" shadow-lg p-3 mb-4 rounded bg-primary">
                    <div style="font-family: 'Ubuntu';font-size:14pt;color:white;font-weight:300;">@ViewBag.TituloPagina</div>
                </div>



                @if (TempData["erro"] != null)
                {
                    <div class="shadow-lg pt-4 pb-4 mb-3 rounded bg-white div-branca">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["erro"].ToString()
                        </div>
                    </div>
                }
                @if (TempData["sucesso"] != null)
                {
                    <div class="shadow-lg pt-4 pb-4 mb-3 rounded bg-white div-branca">
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["sucesso"].ToString()
                        </div>
                    </div>
                }



                @RenderBody()

                <hr />
                <footer class="text-center" style="margin-top: 30px;">
                    <p>&copy; @DateTime.Now.Year - Desenvolvido por Marcelo Nunes.</p>
                </footer>
            </div>

        </div>

    </div>
    @* Animated Icons *@

    <script src="https://cdn.rawgit.com/icons8/titanic/master/dist/js/titanic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.5.9/bodymovin.min.js"></script>


    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="~/Scripts/bootstrap/bootstrap.bundle.js"></script>*@
    <script src="~/Scripts/jquery/popper.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/mask/jquery.mask.js"></script>

    <script src="~/Scripts/funcoes.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var titanic = new Titanic({
            hover: false, // auto animated on hover (default true)
            click: true  // auto animated on click/tap (default false)
        });


        $(document).ready(function () {
            $('#tabela').dataTable({
                "paging": true,
                "info": false,
                /* "aLengthMenu": [20, 50, 100],*/

                scrollY: '100vh',
                scrollCollapse: true,
                paging: false,


                stateSave: true,

                "bJQueryUI": true,
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "Não foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "Último"
                    }
                },
            });
        });
    </script>

</body>
</html>



