<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Catadores</title>

    @* Fonts *@
    <link href="https://fonts.googleapis.com/css?family=Anton|Raleway|Encode+Sans+Condensed|Fjalla+One|Lora|Ubuntu" rel="stylesheet">

    @* Icons *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    @* Tables *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" />
    <link rel="stylesheet" href=" https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
   

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    @* Plugin de tabelas *@

</head>
<body>
    <div class="superior-site">
        <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="~/Home">Gerenciador Financeiro</a>

                <form class="form-inline ml-5 mr-auto mt-2 mt-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Palavra chave" aria-label="Palavra chave">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
                </form>
                <ul class="navbar-nav my-2 my-lg-0 mr-2 ">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropleft">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="far fa-question-circle"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Como fazer um lançamento</a>
                            <a class="dropdown-item" href="#">Como cadastrar uma instituição para recebimento</a>
                            <a class="dropdown-item" href="#">Como cadastrar uma instituição para pagamento</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">FAQ</a>
                        </div>
                    </li>
                    <li class="nav-item dropleft">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="far fa-user"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">---</a>
                            <a class="dropdown-item" href="#">---</a>
                            <a class="dropdown-item" href="#">---</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Login/CadastrarUsuario">Cadastrar usuário</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="body-content row">

        <div class="mt-4 col-2 bg-white shadow-lg pb-3 rounded menu-esquerda-escondido" style="min-height:100%;">
            <ul class="nav  nav-pills nav-stacked menu-esquerda">
                <li><div class="lead col-12 mb-3 texto-escondido"><br /> Cadastros</div></li>
                <li class="col-12" role="presentation"><a href='~/Categoria/IndexReceita' class="texto-menu-esq "><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/ativo.png")" alt="Alternate Text" /><b class="texto-escondido">Categ. de Receb</b></a></li>
                <li class="col-12" role="presentation"><a href='~/Categoria/IndexDespesa' class="texto-menu-esq"><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/passivo.png")" alt="Alternate Text" /><b class="texto-escondido">Categ. de Desp</b></a></li>
                <li class="col-12" role="presentation"><a href='~/Instituicao/IndexCliente' class="texto-menu-esq"><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/clientes.png")" alt="Alternate Text" />  <b class="texto-escondido">Clientes</b></a></li>
                <li class="col-12" role="presentation"><a href='~/Instituicao/IndexFornecedor' class="texto-menu-esq"><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/fornecedores.png")" alt="Alternate Text" />  <b class="texto-escondido">Fornecedores</b></a></li>

                <li><div class="lead col-12 mb-3 texto-escondido"><br /> Contas para saldos</div></li>
                <li class="col-12" role="presentation"><a href='~/ContaSaldo/' class="texto-menu-esq"><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/contasaldo.png")" alt="Alternate Text" />  <b class="texto-escondido">Recebimento</b></a></li>


                <li><div class="lead col-12 mb-3 texto-escondido"> <br />Lançar  </div></li>
                <li class="col-12" role="presentation"><a href='~/Lancamento/' class="texto-menu-esq"><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/lancamentos.png")" alt="Alternate Text" />  <b class="texto-escondido">Lançamentos</b></a></li>
                <li class="col-12" role="presentation"><a href='~/Relatorio/' class="texto-menu-esq"><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/relatorios.png")" alt="Alternate Text" />  <b class="texto-escondido">Relatórios</b></a></li>
                <li class="col-12" role="presentation"><a href='~/DRE' class="texto-menu-esq"><img class="imagens-menu " style="height:35px;" src="@Url.Content("~/Images/dre.png")" alt="Alternate Text" />  <b class="texto-escondido">DRE</b></a></li>

            </ul>
        </div>
        <div class="col conteudo-site" style="min-height:700px !important;">
            <div class="container  mt-5 rounded folha">

                <div class="shadow-lg p-3 mb-4 rounded bg-white">
                    <div class="display-4">Cadastro</div>
                </div>


                <div class="shadow-lg p-3 mb-5 rounded bg-white" style="">
                    @if (TempData["erro"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["erro"].ToString()
                        </div>
                    }
                    @if (TempData["sucesso"] != null)
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @TempData["sucesso"].ToString()
                        </div>
                    }

                    @RenderBody()
                </div>
                <hr />
                <footer class="text-center" style="margin-top: 30px;">
                    <p>&copy; @DateTime.Now.Year - Desenvolvido por Marcelo Nunes.</p>
                </footer>
            </div>

        </div>

    </div>



    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.bundle.js"></script>
    <script src="~/Scripts/jquery/popper.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/mask/jquery.mask.js"></script>

    <script src="~/Scripts/funcoes.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tabela').dataTable({
                "paging": true,
                "info": false,
                /* "aLengthMenu": [20, 50, 100],*/

                scrollY: '50vh',
                scrollCollapse: true,
                paging: false,


                stateSave: true,

                "bJQueryUI": true,
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "Não foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "Último"
                    }
                },
            });
        });
    </script>

</body>
</html>
