@model GerenciadorFinanceiro.Models.caixa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>caixa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valorabertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorabertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorfechamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorfechamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaabertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaabertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horafechamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horafechamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lancamento.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lancamento.descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
