@model GerenciadorFinanceiro.Models.caixa

@{
    ViewBag.Title = "Caixa";
    ViewBag.TituloPagina = "Cadastro de Caixa";
    Layout = null;
}

<script type="text/javascript" src="~/Scripts/funcoes.js"></script>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Fechar  Caixa  </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("Fechar", "Caixa", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.id);
            <h3>Confirma o fechamento do caixa? </h3>

            <fieldset class="scheduler-border  mt-4 col-12  ">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.valorabertura, htmlAttributes: new { @class = "control-label col-md-5 col-sm-12 requerido" })
                    <div class="col-md-7">

                        @Html.EditorFor(model => model.valorabertura, new { htmlAttributes = new { @class = "form-control", @required = true, @readonly = true, @style = "text-transform: uppercase", @id = "valorabertura" } })
                        @Html.ValidationMessageFor(model => model.valorabertura, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.valorfechamento, htmlAttributes: new { @class = "control-label col-md-5 col-sm-12 requerido" })
                    <div class="col-md-7">

                        @Html.EditorFor(model => model.valorfechamento, new { htmlAttributes = new { @class = "form-control", @required = true, @readonlye = true, @style = "text-transform: uppercase", @id = "valor" } })
                        @Html.ValidationMessageFor(model => model.valorfechamento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.horaabertura, htmlAttributes: new { @class = "control-label col-md-5 col-sm-12 requerido" })
                    <div class="col-md-7">

                        @Html.EditorFor(model => model.horaabertura, new { htmlAttributes = new { @class = "form-control", @readonly = true, @required = true, @style = "text-transform: uppercase", @id = "horaabertura" } })
                        @Html.ValidationMessageFor(model => model.horaabertura, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.horafechamento, htmlAttributes: new { @class = "control-label col-md-5 col-sm-12 requerido" })
                    <div class="col-md-7">

                        @Html.EditorFor(model => model.horafechamento, new { htmlAttributes = new { @class = "form-control", @readonly = true, @required = true, @style = "text-transform: uppercase", @id = "horafechamento" } })
                        @Html.ValidationMessageFor(model => model.horafechamento, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group row">
                        @Html.LabelFor(model => model.lancamento_id, "lancamento_id", htmlAttributes: new { @class = "control-label col-md-5 col-sm-12 requerido" })
                        <div class="col-md-7">
                            @Html.DropDownList("lancamento_id", null, htmlAttributes: new { @class = "form-control", @required = true, @style = "text-transform: uppercase", @id = "lancamento_id" })
                            @Html.ValidationMessageFor(model => model.lancamento_id, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

            </fieldset>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" value="Save" class="btn btn-outline-success">Salvar</button>
            </div>
        }
    </div>
</div>




