@model IEnumerable<GerenciadorFinanceiro.Models.instituicao>

@{
    ViewBag.Title = "Index Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    // busca endereco automaticamente
    function retira_acentos(palavra) {
        com_acento = 'áàãâäéèêëíìîïóòõôöúùûüçÁÀÃÂÄÉÈÊËÍÌÎÏÓÒÕÖÔÚÙÛÜÇ';
        sem_acento = 'aaaaaeeeeiiiiooooouuuucAAAAAEEEEIIIIOOOOOUUUUC';
        nova = '';
        for (i = 0; i < palavra.length; i++) {
            if (com_acento.search(palavra.substr(i, 1)) >= 0) {
                nova += sem_acento.substr(com_acento.search(palavra.substr(i, 1)), 1);
            }
            else {
                nova += palavra.substr(i, 1);
            }
        }
        return nova.toUpperCase();
    }

    function getEndereco() {
        if ($.trim($("#CEP").val()) != "") {

            var cep_code = $("#CEP").val();
            if (cep_code.length <= 0) return;
            $.get("http://apps.widenet.com.br/busca-cep/api/cep.json", { code: cep_code },
                function (result) {
                    if (result.status != 1) {
                        alert(result.message || "Houve um erro desconhecido");
                        return;
                    }
                    $("#Cidade").val(retira_acentos(unescape(result.city)));
                    $("#Bairro").val(unescape(result.district));
                    $("#Rua").val(unescape(result.address));
                    $("#Estado").val(unescape(result.state));
                });
        }
    }
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Novo", "CreateCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cnpj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responsavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cep)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.responsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cep)
            </td>
            <td>
                <a href="~/Instituicao/Edit/@item.id"><span style="font-size:16pt;" class="far fa-edit"></span></a>
                <a href="~/Instituicao/Details/@item.id"><span style="font-size:16pt;" class="far fa-eye"></span></a>
                <a href="~/Instituicao/Delete/@item.id"><span style="font-size:16pt;" class="far fa-trash-alt"></span></a>
            </td>
        </tr>
    }

</table>
