@model IEnumerable<GerenciadorFinanceiro.Models.instituicao>

@{
    ViewBag.Title = "Index Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-12" style="text-align:right;margin-bottom:15px;">
    <a href="~/Instituicao/CreateCliente" class="btn btn-outline-success"> <span class="fas fa-plus"></span> Cliente</a>
</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.responsavel)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cnpj)
                </td>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefone2)
                </td>
                <td class="text-uppercase">
                    @Html.DisplayFor(modelItem => item.responsavel)
                </td>
                <td>
                    <a href="~/Instituicao/Edit/@item.id"><span style="font-size:16pt;" class="far fa-edit"></span></a>
                    <a href="~/Instituicao/Details/@item.id"><span style="font-size:16pt;" class="far fa-eye"></span></a>
                    <a href="~/Instituicao/Delete/@item.id"><span style="font-size:16pt;" class="far fa-trash-alt"></span></a>
                </td>
            </tr>
        }

    </table>
